<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        #listMessage {
            border: 1px solid #ccc;
            height: 500px;
            overflow-y: scroll;
        }

        .messages{
            border: 1px solid #555;
            padding: 3px;
            border-radius: 10px 10px 10px 0px;
            margin: 5px;
            width: fit-content;
            color: #555;
            padding: 15px 10px 15px 10px;
        }

        .messages{
            content: "";
            clear: both;
            display: table;
        }

        .right{
            border-radius: 10px 10px 0px 10px;
            float: right;
        }

    </style>
</head>

<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Rooms</a>
            <span class="navbar-text">
                <a href="/dashboard/logout">Sign Out</a>
            </span>
        </div>
    </nav>

    <div class="container mt-5" id="listMessage">
        <!-- <div class="messages">
            hello
        </div>
        <div class="messages right">
            hello hello hellohello hellohellohellohello
        </div> -->
    </div>

    <div class="container">
        <form action="#" id="sendMessageForm">
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Type message..." id="messageInput">
                <button class="btn btn-outline-secondary" type="submit" id="sendMessageButton">Send</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script defer>
        const ROOM_ID = "<%= roomId %>"
        const EMAIL = "<%= email %>"
    </script>
    <script src="/rooms.js" defer></script>
</body>

</html>