<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    <script src="script.js" defer></script>
    <style>
        #listMessage {
            width: 500px;
            height: 500px;
            border: 1px solid #555;
        }

        .container {
            border: 1px solid #555;
            padding: 3px;
            border-radius: 10px;
            margin: 5px;
        }

        .container::after {
            content: "";
            clear: both;
            display: table;
        }

        .right {
            float: right;
        }
    </style>
</head>

<body>
    <p>UserID: </p>
    <input type="text" id="userIdText" /><br />
    <p>Message: </p>
    <input type="text" id="messageText" /><br /><br />
    <button id="sendMessageButton">Send message</button>
    <div id="listMessage"></div>
</body>

</html>